*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section.in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
section.out {
    opacity: 0;
    transform: translateY(250px);
    transition: 1s;
  }
:root{
    --bg-color: #081629;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color: linear-gradient(90deg, #fff,#ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);

}
p{
    font-size: 25px;
}
.btn-box{
    margin: 15px;
}
button{
    cursor: pointer;
}
.btn{
    display: inline-flex;
    justify-content: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: 4px;
    font: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
 .btn-box a{
    align-items: center;
    text-decoration: none;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
}
.color-animation{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #217710 0%,
    #98f503 29%,
    #860b34 67%,
    #ff00ea 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}
/* annimation of logo or txt */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* sidebar */
.sidebar{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
}
.sidebar li{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.sidebar a{
    width: 100%;
    font-size: 30px;
    padding: auto;
}
/* nabar */
.navbar{
    height: 56px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(43, 43, 43, 0.76);
    background: transparent;

}

.logo{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}
/* annimation of logo or txt */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.unlist{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-right: 50px;
    
}
.list a{
    text-decoration: none;
    color: #726ef5;
    padding: 5px;
}
.list a:hover{
    border-bottom: 2px solid rgb(121, 121, 121);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    /* margin: 10px; */
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: #ffffff;
}
.menu{
    display: none;
}

/* main */

.main{
    background-image: linear-gradient(to top, #c9fcf9 0%, #fde2ea 100%);
    margin: 20px;
    border-radius: 10px;
}
.frst-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.info{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.info h1{
    margin: 10px;
    font-size: 40px;
}
.info h3{
    margin: 10px;
    color: var(--main-color);
    font-size: 30px;
}
.info .social-media{
    margin: 10px;
}
 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--main-color);
    margin: 0 10px;
    transition: .5s;
    text-decoration: none;
}

.info .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.cartoon {
    width: 700px;
}

/* project section */
.projects{
    margin: 50px;
    padding: 30px;
}
.project-body{
    display: flex;
    flex-wrap: wrap;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.project-card:hover{
    scale: 1.1;
}
.card-img{
    width: 200px;
}
.card-title{
 color: #44107a;
 margin: 5px;
 padding: 5px;
 border-radius: 5px;
}
.card-visit-btn{
    width: 100%;
    height: 30px;
}

/* About section */
.about{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
}
.about-text{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    margin-right: 50px;
    gap: 2rem;
}
.section-titel{
    font-size: 60px;
    margin-bottom: 20px;
    border-bottom: #00abf0;
    margin: auto;
   
}
.subtitle{
    font-size: 29px;
    font-weight: 600px;
    background-color: #fffd8a;
    padding: 5px;
    width: 70%;
    margin-bottom: 10px;
   
}
/* skills section */
.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.skills h2{
    margin-left: 60px;
}
.skill-details{
    display: flex;
    align-items: center;
}
.details-left{
    display: flex ;
    flex-direction: column;
    width: 50%;
    margin:0 60px;
}

.details-right{
    display: flex ;
    flex-wrap: wrap;
    margin: 60px;
    font-size: 15px;
    justify-content: center;
}
.details-right span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: .125rem dotted #00abf0;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 150px;
    box-shadow: var(--box-shadow);
    font-size: 20px;
}
i{
    font-size: 50px;
}
/* footer */
.footer{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    width: 100%;
    height: 250px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-unlist{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    
}
.footer-list a{
    text-decoration: none;
    color: #726ef5;
    padding: 5px;
}
.footer-list a:hover{
    color: #ffffff;
    border-bottom: 2px dashed white;
}
footer p{
    margin-top: 20px;
    color: white;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    /* navbar */
    .hideOnmobile{
        display: none;
    }
    .menu{
        display: block;
    }
    .btn{
        margin-bottom: 10px;
    }
    p{
        margin: 0px;
        font-size: 20px;
    }
    .main{
        margin: 2px;
    }
    .info{
        width: 100%;
        margin: 5px;
    }
    .frst-cont{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        min-height: 0vh;
        position: relative;
    }
    .color-animation{
        font-size: 30px;
    }
    .subtitle{
        font-size: 20px;
        width: 100%;
        margin: 5px 0;
    }
    .cartoon{
        display: none;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .skill-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details-left{
        margin:10px;
    }
    .details-right{
        margin: 0px;

    }
    .footer-unlist{
        list-style: none;
        display: flex;
        gap: 0px;
        font-size: 15px;
        margin-right: 0px;
        margin-bottom: 10px;
        
    }
   footer .social-media{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        background: transparent;
        border: var(--border);
        border-radius: 50%;
        color: var(--main-color);
        margin: 20px;
        transition: .5s;
        text-decoration: none;
    }
    .footer-copyright{
        font-size: 15px;

    }
}
